
gen_ubinize-rootfs-config(){

#############################
#
# FILE ubinize-rootfs.cfg
#
#############################

cat << EOFF > ubinize-rootfs.cfg
[rootfs]
mode=ubi
image=rootfs.ubifs
vol_id=0
vol_size=600MiB
vol_type=dynamic
vol_name=rootfs
vol_alignment=1
EOFF
}

pre_umount_final_image() {
    # This runs right before the image is finalized

# kernel cmd line for swupdate:
# ubi.mtd=5 root=ubi0:rootfs rw rootfstype=ubifs rootwait cmdlinepart.mtdparts=1c03000.nand-controller:0x400000(SPL)ro,0x400000(SPL.backup)ro,0x400000(U-Boot)ro,0x400000(U-Boot.backup)ro,0x2000000(swupdate)slc,-(rootfs)slc console=ttyS0,115200 splash plymouth.ignore-serial-consoles
   
# TODO: 
# - uInitrd is missing
# - change /etc/fstab for ubifs
#     - /dev/ubi0_0 / ubifs defaults 0 1
# - Add ubi.mtd=5 to bootargs
# - get console output right 
# (keyboard is not working - NOT SOLVED HERE)

 
	display_alert "gen_swupdate_image" "Working directory setup" "info"

	SWUGEN_CONFIG="$SDCARD/opt/swupdate-gen-image"
	SWUGEN_WORKDIR="$PWD/gen-swupdate-img"
	mkdir $SWUGEN_WORKDIR
	cd $SWUGEN_WORKDIR
	find $SWUGEN_CONFIG/
	cp -v $SWUGEN_CONFIG/* .	

    display_alert "gen_swupdate_image" "SAVE armbianEnv.txt temporarily" "info"
	cp -v $SDCARD/boot/armbianEnv.txt ./armbianEnv.txt.bk





    display_alert "gen_swupdate_image" "Changing armbianEnv.txt for NAND in SWUpdate image" "info"
	sed -e 's/^rootdev=.*/rootdev=ubi0:rootfs/' -e 's/^rootfstype=.*/rootfstyp=ubifs/' -e 's/^extraargs=.*/extraargs=cmdlinepart.mtdparts=1c03000.nand-controller:0x400000(SPL)ro,0x400000(SPL.backup)ro,0x400000(U-Boot)ro,0x400000(U-Boot.backup)ro,0x2000000(swupdate)slc,-(rootfs)slc console=ttyS0,115200 splash plymouth.ignore-serial-consoles/' -i $SDCARD/boot/armbianEnv.txt 
	
	echo #####################################
	echo "$SDCARD/boot/armbianEnv.txt (NAND):"
	echo #####################################
    cat  $SDCARD/boot/armbianEnv.txt
	echo #####################################
	echo
	
    display_alert "gen_swupdate_image" "Installing mtd-utils for SWUpdate image generation" "info"
	apt update
	apt install -y mtd-utils

    display_alert "gen_swupdate_image" "SWUpdate image generation [1] : mkfs.ubifs( \$SDCARD ) -> rootfs.ubifs" "info"
    mkfs.ubifs -q -r "$SDCARD" -m 16384 -e 2064384 -c 2048 -o rootfs.ubifs

    display_alert "gen_swupdate_image" "SWUpdate image generation [2] : ubinize( rootfs.ubifs, ... ) -> rootfs.ubi" "info"
	gen_ubinize-rootfs-config
    ubinize -o rootfs.ubi -m 2048 -p 128KiB -s 2048 ubinize-rootfs.cfg

	FILES="sw-description installscript.sh rootfs.ubi"

	IMAGE_FILENAME="${calculated_image_version}.swu"
	IMAGE_PATH="$DEST/images"
	IMAGE_PATHNAME="${IMAGE_PATH}/${IMAGE_FILENAME}"
    display_alert "gen_swupdate_image" "SWUpdate image generation: cpio( rootfs.ubi , ... ) -> $IMAGE_PATHNAME" "info"
	for i in $FILES;do
		echo $i;done | cpio -ov -H crc > $IMAGE_PATHNAME
	( cd ${IMAGE_PATH} ; sha256sum ${IMAGE_FILENAME} > ${IMAGE_FILENAME}.sha )
	
    display_alert "gen_swupdate_image" "RESTORE armbianEnv.txt temporarily saved" "info"
	mv -v ./armbianEnv.txt.bk $SDCARD/boot/armbianEnv.txt
	
    display_alert "gen_swupdate_image" "SWUpdate image generated. Cleaning up..." "info"
	rm -rv "$SWUGEN_WORKDIR" "$SWUGEN_CONFIG"

	echo #####################################
	echo "$SDCARD/boot/armbianEnv.txt (SDCARD):"
	echo #####################################
    cat  $SDCARD/boot/armbianEnv.txt
	echo #####################################
	echo

}

